.contenedor {
    position: relative;
}

.hijo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
}

.oculto {
    display: none;
}

.row-s{
    padding: 30px;
    height: 60vh;
    width: 400px;
    overflow-y: auto;
    white-space: nowrap;
}

.barraMessage{
    position: relative;
    width: 95%;
    left: 50%;
    transform: translate(-50%, -30%);
}
::-webkit-scrollbar {display: none;}